//These are the mixins for this project 
@mixin respond($breakpoint) {
    @if $breakpoint == sm {
      @media only screen and (max-width: 40em) {
        @content;
      } //600px
    }
  
    // @if $breakpoint == phone-mid {
    //   @media only screen and (max-width: 43.75em) {
    //     @content;
    //   } //700px
    // }
  
    // @if $breakpoint == tab-port {
    //   @media only screen and (max-width: 50em) {
    //     @content;
    //   } //800px
    // }
  
    @if $breakpoint == laptop-mid-size {
      @media only screen and (max-width: 67.5em) {
        @content;
      } //1080px
    }
  
    // @if $breakpoint == tab-land {
    //   @media only screen and (max-width: 75em) {
    //     @content;
    //   } //1200px
    // }
  
    @if $breakpoint == big-desktop-assoc {
      @media only screen and (max-width: 109.5em) {
        @content;
      } //1440px
    }
  
    // @if $breakpoint == big-desktop {
    //   @media only screen and (min-width: 110em) {
    //     @content;
    //   } //1800px
    // }
}


//These are the colors used throughout the site
$primary-color: #FFFFFF;
$secondary-color: #0A223D;
$tertiary-color: #EC1F46;
$header-color: #333333;
$footer-text-color: #BDBDBD;
$main-bg-color: #F5FAFE;

//These are the font sizes used throughout the site
$minute-sizing: 8px;
$smallest-sizing: 10px;
$smaller-sizing: 12px;
$small-sizing: 13px;
$normal-sizing: 14px;
$large-sizing: 18px;
$larger-sizing: 24px;
$largest-sizing: 36px;
$extra-large-sizing: 64px;

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
    background-color: $main-bg-color;
}

h1 {
    font-size: $extra-large-sizing;
    line-height: 64px;
}

h2 {
    font-size: $largest-sizing;
}

h3 {
    font-size: $larger-sizing;
}

h4 {
    font-size: $large-sizing;
}

h5 {
    font-size: $small-sizing;
}

h6 {
    font-size: $smaller-sizing;
}

p {
    font-size: $smaller-sizing;
}

ul {
    list-style: none;
    line-height: 18px;
    padding-left: 0;
    padding-right: 0;
}

li {    
    @extend ul;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: $normal-sizing;

    a {
        color: $primary-color!important;
    }
}

a {
    text-decoration: none;
    color: $header-color;
}

.button {
  border: none;
  cursor: pointer;
  background: none;
}

.flex {
    display: flex;

    &.justify-between {
        justify-content: space-between;
        width: 100%;
    }

    &.gap {
        gap: 18px;
    }

    &.item-center {
        align-items: center;
    }
}