.site-wrapper {
    width: 79%;
    // height: max-content;
    padding: 0px 0px;
    margin: auto;
    right: 0;
}

.wrapper {
    width: 100%;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

.card-wrapper {
    width: 82%;
    height: max-content;
    padding: 0px 0px;
    margin: auto;
}

.card-highlight-wrapper, .card-details-wrapper {
    background-color: $primary-color;
    height: max-content;
    border-radius: 8px 8px 8px 0px;
}

.package-details-wrapper {
    background-color: $primary-color;
    height: 500px;
    border-radius: $minute-sizing;
    width: 100%;
}