.site-wrapper {
    width: 79%;
    // height: max-content;
    padding: 0 0px;
    margin: auto;
}

.wrapper {
    width: 100%;

}

.column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

.card-wrapper {
    width: 80%;
    height: max-content;
    margin: auto;
    padding: 0 0px;

}

.package-details-wrapper {
    border-radius: calc($smallest-sizing - 2px);
    width: 100%;

}