//Header Styles
.nav {
    position: relative;
}

.nav-bg {
    background-color: $main-bg-color;
    height: 60px;
    line-height: $small-sizing;
    position: absolute;
    width: 1440px;
}

.nav-top {
    display: flex;
    width: 1020px;
    justify-content: space-between;
    top: $larger-sizing;
    line-height: $small-sizing;
    align-items: center;
    color: $header-color;
    font-style: normal;
    height: calc($largest-sizing + 4px);
}

.nav-enquiry {
    display: flex;
    width: 243px;
    height: $small-sizing;
    left: 165px;
    top: $larger-sizing;
    justify-content: space-between;

    p {
        font-size: $smallest-sizing;
        font-weight: 700;
    }
}

.nav-btp {
    display: flex;
    width: 102px;
    height: $large-sizing;
    left: 957px;
    top: calc($larger-sizing + 1px);
    gap: calc($large-sizing + 2px);

    p {
        font-size: $smallest-sizing;
        font-weight: 400;
    }
}

.nav-loyalty {
    display: flex;
    width: 115px;
    height: $large-sizing;
    left: 1157px;
    top: calc($larger-sizing + 1px);
    gap: calc($large-sizing + 2px);

    p {
        font-size: $smallest-sizing;
        font-weight: 400;
    }
}
.nav-btp-loyalty {
    display: flex;
    width: 238px;
    justify-content: space-between;
    align-items: center;
    left: 80px;
    position: relative;
}

.nav-main {
    height: 120px;
    left: 0;
    top: 60px;
    position: relative;
    align-items: center;
    display: flex;
    width: 1440px;
}

.best-tour-plan {
    display: flex;
    top: 39px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 177px;
    height: $larger-sizing;
    left: 165px;
    top: 111px;
}
.logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 570px;
    gap: 108px;
}

.search-input {
    width: 350px;
    height: 40px;
    padding-left: 20px;
    color: $header-color;
    background-color: $main-bg-color;
    border-radius: 6px;
    border: none;
}

.search-button {
    border: none;
    cursor: pointer;
    width: 65px;
    height: 40px;
    padding: 0px;
}

.menu {
    display: flex;
    width: 218px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 30px;
}

.nav-bottom {
    position: absolute;
    height: 80px;
    top: 180px;
    width: 1440px;
    background-color: $secondary-color;
}

.nav-bottom-list {
    display: flex;
    width: 100%;
    position: relative;
    top: 10px;
}

// Main styles
.bread-crumb {
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: 260px;
    background-color: $main-bg-color;
}

ul.breadcrumb {
    width: 200px;
    height: $small-sizing;
    line-height: $small-sizing!important;
}

ul.breadcrumb li {
    display: inline;
    font-size: $smallest-sizing!important;
}

ul.breadcrumb li a {
    color: $secondary-color!important;
}

ul.breadcrumb li+li:before {
    color: $secondary-color;
    content: "/\00a0";
}

//Hotel name section

.hotel-wrapper {
    @extend .wrapper;
    height: 550px;
    left: 0px;
    top: 310px;
    background-color: $main-bg-color;
}

.hotel-name {
    display: flex;
    justify-content: space-between;
    width: 1102px;
    align-items: center;
    // height: 100px;
    top: 310px;
}

.stars {
    width: 48px;
    height: $minute-sizing;
    left: 116px;
    top: 333px;
}

.hilton-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 388px;
    height: 30px;

    h3 {
        width: 268px;
        height: calc($largest-sizing - 6px);
        font-style: normal;
        font-weight: 700;
        font-size: $larger-sizing;
        line-height: calc($largest-sizing - 6px);
    }

    span {
        display: flex;
        justify-content: center;
        background-color: $tertiary-color;
        width: 70px;
        height: 28px;
        left: 447px;
        top: 351px;
        border-radius: 3px;

        p {
            font-size: $smallest-sizing;
            font-weight: 600px;
            line-height: $small-sizing;
            color: $primary-color ;
        }
    }
}

.half-board {
    width: 389px;
    height: calc($normal-sizing + 1px);
    color: $header-color;
    top: -10px;
    display: block;
    position: relative;

    p {
        font-weight: 400;
        font-style: normal;
        font-size: $smaller-sizing;
        line-height: calc($normal-sizing + 1px);
        color: $header-color;
        position: relative;
    }
}

.user-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    width: 76px;
    background-color: $tertiary-color;
    border-radius: 4px;
}

.user {
    font-size: $minute-sizing;
    font-style: normal;
    font-weight: 600;
    line-height: $minute-sizing;
    color: $primary-color;
}

.rating {
    width: 67px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: $normal-sizing;
        font-style: normal;
        font-weight: 700;
        width: 31px;
        line-height: $large-sizing;
    }
}

//Slider section

.slider {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 450px;
}

.beach {
    width: 728px;
    height: 450px;
    left: 167px;
    top: 410px;

    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
    border-radius: $minute-sizing;
}

.view-options {
    background-color: $secondary-color;
    width: 350px;
    height: 210px;
    left: 925px;
    top: 410px;

    border-radius: $minute-sizing;
}

.price-room {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
     
}

.price {
    color: $primary-color;
    width: 86px;
    height: 59px;
    left: 951px;
    top: 439px;

    p{
        margin: 0!important;
        font-style: normal;
        font-weight: 400;
        font-size: $smallest-sizing;
        line-height: $normal-sizing;
        width: 100%;
        left: 951px;
        top: 439px;
        height: $normal-sizing;
    }

    strong {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: $larger-sizing;
        line-height: calc($largest-sizing - 3px);
        width: 85px;
        left: 951px;
        top: 453px;
        height: calc($largest-sizing - 3px);
    }
}

.room {
    color: $primary-color;
    width: 80px;
    height: max-content;
    left: 1166px;
    top: 443px;
    
    span{
        p {
            width: 80px;
            height: 16px;
            left: 1166px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: $smaller-sizing;
            line-height: calc($large-sizing - 2px);
        }
    }
}

.booking {
    width: 295px;
    height: 25px;
    left: 951px;
    top: 507px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-color;
    padding-top: calc($minute-sizing + 1px);

    h4 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: $large-sizing;
    }

    span {

        p{ 
            font-size: $large-sizing;
            font-style: normal;
            font-weight: 600;
            line-height: calc($larger-sizing + 1px);
            color: $primary-color;
        }
    }
}

.map {
    left: 925px;
    top: 647px;
    border-radius: $smallest-sizing;
}

.other-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 45px;
    background-color: $tertiary-color;
    border-radius: 4px;
    margin-top: calc($large-sizing - 1px);

    a {
        color: $primary-color!important;
        font-family: 'Nunito';
        font-style: normal;
        font-size: $normal-sizing;
        line-height: calc($large-sizing + 1px);
    }
}

// Package section
.package-section {
    @extend .wrapper;
    height: 878px;
    top: 859.68px;
    background-color: $main-bg-color;   
}

.package-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.package-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 53px;

    p {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: $normal-sizing;
        line-height: $large-sizing;

        color: $header-color;
    }
}

.package-summary {
    width: 1110px;
    height: 842px;
    display: flex;
    flex-direction: column;
}

.package-offer {
    display: flex;
    width: 1110px;
    height: 200px;
    justify-content: space-between;
}

.package-card-1, .package-card-2 {
    width: 538px;
    height: 200px;
}

.highlight-header, .details-header {
    width: 100%;
    height: 50px;
    background-color: $secondary-color;
    display: flex;
    border-radius: 4px 4px 0px 0px;
    align-items: center;

    h5 {
        margin-left: 20px;
        color: $primary-color;
        font-family: 'Mulish';
        font-weight: 700;
        font-size: $normal-sizing;
        line-height: $large-sizing;
    }
}


    
.card-highlight {
    display: flex;
    justify-content: space-between;
    width: 479px;
    height: 96px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .card-1, .card-2 {
        
        p {
            display: flex;
            align-items: center;
            font-family: 'Mulish';
            font-size: $smaller-sizing;
            font-style: normal;
            line-height: calc($normal-sizing + 1px);
        }

    }
}

.card-detail {
    @extend .card-highlight;
    padding-bottom: 0px !important;

    .details-1 {
        display: flex;
        justify-content: center;
    
        .design {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 168px;
            height: 103px;
    
            p {
                margin: 0;
                font-family: 'Mulish';
                font-size: $smaller-sizing;
                font-style: normal;
                line-height: calc($normal-sizing + 1px);

            }
        }
    }
    
    .details-2 {
        height: 20px;
        display: flex;

        p {
            margin: 0;
            display: flex;
            align-items: center;
            font-family: 'Mulish';
            font-size: $normal-sizing;
            font-style: normal;
            line-height: calc($normal-sizing + 1px);
        }
    }
}
