//Header Styles
.nav-bg {
    background-color: $main-bg-color;
    line-height: $small-sizing;
    width: 100%;

    .nav-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        line-height: $small-sizing;
        align-items: center;
        color: $header-color;
        font-style: normal;
    }
    
    .nav-enquiry {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        p {
            font-size: $smallest-sizing;
            font-weight: 700;
            font-style: normal;
        }
    }
    
    .nav-btp {
        display: flex;
        gap: calc($large-sizing + 2px);
        align-items: center;
    
        p {
            font-size: $smallest-sizing;
            font-weight: 400;
        }
    }
    
    .nav-loyalty {
        display: flex;
        gap: calc($large-sizing + 2px);
        align-items: center;
    
        p {
            font-size: $smallest-sizing;
            font-weight: 400;
        }
    }
    .nav-btp-loyalty {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc($large-sizing + 2px);
    }
}



.nav-main {
    height: 120px;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: $primary-color;

    .best-tour-plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 108px;
    }
    
    .search-input {
        width: 350px;
        height: 40px;
        padding-left: 20px;
        color: $header-color;
        background-color: $main-bg-color;
        border-radius: 6px;
        border: none;
    }
    
    .search-button {
        border: none;
        cursor: pointer;
        width: 65px;
        height: 40px;
        padding: 0px;
    }
    
    .menu {
        display: flex;
        width: 20%;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}

.nav-bottom {
    width: 100%;
    background-color: $secondary-color;

    .nav-bottom-list {
        display: flex;
        width: 100%;
    }
}

// Main styles
.bread-crumb {
    width: 100%;
}

ul.breadcrumb {
    cursor: pointer;
    line-height: $small-sizing!important;
}

ul.breadcrumb li {
    display: inline;
    font-size: $smallest-sizing!important;
}

ul.breadcrumb li a {
    color: $secondary-color!important;
    text-decoration: none;
    font-size: $smallest-sizing!important;
    font-family: 'Mulish';
    font-weight: 400!important;
}

ul.breadcrumb li+li:before {
    color: $secondary-color;
    content: "/\00a0";
}

//Hotel name section

.hotel-wrapper {
    @extend .wrapper;
    background-color: $main-bg-color;

    .hotel-name {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 8px;
    }
    
    .stars {
        width: 100%;
        height: $minute-sizing;
    }
    
    .hilton-section {
        display: flex;
        gap: 20px;
        align-items: center;
    
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: $larger-sizing;
            line-height: calc($largest-sizing - 6px);
            margin: 0;
        }
    
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary-color;
            width: 70px;
            height: 25px;
            border-radius: 3px;
    
            p {
                display: flex;
                align-items: center;
                font-size: $smallest-sizing;
                font-weight: 600;
                line-height: $small-sizing;
                color: $primary-color;
            }
        }
    }
    
    .half-board {
        width: 100%;
        height: calc($normal-sizing + 1px);
        color: $header-color;
        display: block;
    
        p {
            font-weight: 400;
            font-style: normal;
            font-size: $smaller-sizing;
            line-height: calc($normal-sizing + 1px);
            color: $header-color;
            margin-top: 0px;
        }
    }
    
    .user-rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 44px;
        width: 68px;
        background-color: $tertiary-color;
        border-radius: 4px;
        margin-bottom: 2px;
    }
    
    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        line-height: $minute-sizing;
        color: $primary-color;

        p {
            font-family: 'Mulish';
            font-weight: 600;
            line-height: 10.04px;
            font-size: $minute-sizing!important;
        }
    }
    
    .rating {
        width: 100%;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        p {
            font-size: $normal-sizing;
            font-style: normal;
            font-weight: 700;
            margin-top: 0px;
        }
    }
    
    //Slider section
    
    .slider {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }
    
    .beach {
        width: 64%;
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
        border-radius: $minute-sizing;
        
        img {
            width: 100%;
        }
    }
    
    .view-options {
        background-color: $secondary-color;
        width: 100%;
        height: 190px;
        display: flex;
        border-radius: $minute-sizing;
    }
    
    .price-room {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .price {
        color: $primary-color;
    
        p{
            margin: 0!important;
            font-style: normal;
            font-weight: 400;
            font-size: $smallest-sizing;
            line-height: $normal-sizing;
        }
    
        strong {
            font-family: 'Nunito';
            font-weight: 800;
            font-size: $larger-sizing;
            line-height: calc($largest-sizing - 3px);
        }
    }
    
    .room {
        color: $primary-color;
        display: flex;
        flex-direction: column;
        
        span{
            p {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: $smaller-sizing;
                line-height: calc($large-sizing - 2px);
                display: flex;
                align-items: center;
            }
        }
    }
    
    .booking {
        height: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        color: $primary-color;
        padding-top: calc($minute-sizing + 1px);
    
        h4 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 600;
            font-size: $large-sizing;
            line-height: 25px;
        }
    
        span {
    
            p{ 
                font-size: $large-sizing;
                font-style: normal;
                font-weight: 600;
                line-height: calc($larger-sizing + 1px);
                color: $primary-color;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
    
    .map {
        border-radius: $smallest-sizing;
    }
    
    .other-options {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $tertiary-color;
        border-radius: 4px;
        margin-top: calc($large-sizing - 1px);
    
            a {
                color: $primary-color!important;
                font-family: 'Nunito';
                font-style: normal;
                font-size: $normal-sizing;
                font-weight: 600;
                line-height: 34px;
            }
            
    }
    
}


// Package section
.package-section {
    @extend .wrapper;
    background-color: $main-bg-color;   
    margin-top: 40px;
}

.package-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//Package Menu 

.package-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    p:first-of-type {
        color: $tertiary-color;
        border-bottom: 3px solid;

        a:first-of-type {
            color: $tertiary-color;
            padding-bottom: 8px;
            display: inline-block;
        }
        
    }

    p {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: $normal-sizing;
        line-height: $large-sizing;

        color: $header-color;
    }
}

//Package Summary

.package-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    h3 {
        margin-bottom: 0;
    }
}

.package-offer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.package-card-1, .package-card-2 {
    width: 49%;
    background-color: $primary-color;
}

.highlight-header, .details-header {
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
    color: $primary-color;

    h5 {
        margin-left: 20px;
        color: $primary-color;
        font-family: 'Mulish';
        font-weight: 700;
        font-size: $normal-sizing;
        line-height: $large-sizing;
    }
}


    
.card-highlight {
    display: flex;
    justify-content: space-between;
    width: 479px;
    height: 96px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .card-1, .card-2 {
        
        p {
            display: flex;
            align-items: center;
            font-family: 'Mulish';
            font-size: $smaller-sizing;
            font-style: normal;
            line-height: calc($normal-sizing + 1px);
            color: $header-color;
        }

    }
}

.card-detail {
    @extend .card-highlight;
    padding-bottom: 0px !important;

    .details-1 {
        display: flex;
        justify-content: center;
    
        .design {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 168px;
            height: 103px;
    
            p {
                margin: 0;
            }
        }
    }
    
    .details-2 {
        width: 46%;
        display: flex;
        justify-content: center;

        p {
            width: 216px;
            display: flex;
            font-family: 'Mulish';
            font-size: $normal-sizing;
            font-style: normal;
            font-weight: 400;
            line-height: $large-sizing;
            margin: 0;
        }
    }
}

// Package Summary Details

.package-card-details {
    width: 100%;
    height: 34rem;
    background-color: $primary-color;

    .card-head {
        width: 100%;
        background-color: $secondary-color;
        display: flex;
        border-radius: 4px 4px 0px 0px;
        align-items: center;
        color: $primary-color;

        h5 {
            margin-left: 20px;
            color: $primary-color;
            font-family: 'Mulish';
            font-weight: 700;
            font-size: $normal-sizing;
            line-height: $large-sizing;
        }
    }

    .summary-details {
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        .first-three {
            display: flex;
            justify-content: space-between;
            height: 280px;
            border-bottom: 1px dashed #E0E0E0;
        }
        
        .last-three {
            display: flex;
            justify-content: space-between;
        }

        h5 {
            font-family: 'Mulish';
            font-weight: 600;
            margin-bottom: 0;
            line-height: calc($large-sizing - 2px);
            color: $tertiary-color;
        }

        p {
            font-family: 'Mulish';
            font-weight: 400;
            font-size: $smaller-sizing;
            line-height: calc($normal-sizing + 1px);
            color: $header-color;
        }

        .activity-1 {
            width: 258px;
            height: 239px;
            @extend h5;
            @extend p;
        }
    
        .activity-2 {
            width: 248px;
            height: 238px;
            @extend h5;
            @extend p;
        }
    
        .activity-3 {
            width: 238px;
            height: 233px;
            @extend h5;
            @extend p;
        }
    
        .activity-4 {
            width: 206px;
            height: 90px;
            @extend h5;
            @extend p;
        }
    
        .activity-5 {
            width: 194px;
            height: 90px;
            @extend h5;
            @extend p;
        }
    
        .activity-6 {
            width: 233px;
            height: 90px;
            @extend h5;
            @extend p;
        }
    }
}

//Other Packages Section
.other-packages-section {
    width: 100%;
    height: 100%;




    .other-package-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 20px;

        .other-package-header {
            display: flex;
            justify-content: center;
            width: 100%;

        }

        .trip-advisor-wrapper {

            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            gap: 20px;
            padding-bottom: 54px;

            .wrapp1 {
                display: flex;
                width: 65%;
                flex-direction: row;
                border-radius: 8px 8px 8px 8px;



                .wrapp-image {
                    width: 49%;
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                    span {
                        background-color: $tertiary-color;
                        color: $primary-color;
                        width: 95px;
                        height: 40px;
                        border: none;
                        border-radius: 4px;
                        left: 0;
                        top: 20px;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                    }
                }


                .advisor-style {
                    width: 54%;
                    background-color: $secondary-color;
                    color: $secondary-color;

                    .style-wrapper {
                        padding-left: 50px;
                        padding-right: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-top: $largest-sizing;
                        color: $primary-color;


                        span {
                            h4 {
                                margin-top: 0;
                            }

                            .person-room {

                                p:nth-of-type(2),
                                p:nth-of-type(3) {
                                    margin-top: 0;
                                }

                                p {
                                    font-family: 'Mulish';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: $normal-sizing;
                                    line-height: 160.6%;
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 0;
                                }

                            }

                            p {
                                font-family: 'Mulish';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 160.6%;
                                display: flex;
                                align-items: center;
                                margin-bottom: 40px;
                                padding-bottom: 19px;

                            }

                            .book-now {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                span {

                                    .slashed {
                                        text-decoration: line-through;
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                    }

                                    h3 {
                                        margin-top: 0;
                                    }
                                }

                                button {

                                    background-color: $tertiary-color;
                                    color: $primary-color;
                                    width: 50%;
                                    height: 40px;
                                    border: none;
                                }
                            }
                        }
                    }


                }
            }

            .wrapp2 {
                display: flex;
                width: 33%;
                flex-direction: column;
                border-radius: 8px 8px 8px 8px;

                .wrapp2-image {
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                    }

                    span {
                        background-color: $tertiary-color;
                        color: $primary-color;
                        width: 95px;
                        height: 40px;
                        border: none;
                        border-radius: 4px;
                        left: 0;
                        top: 20px;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                    }
                }

                .advisor-style2 {
                    width: 100%;
                    height: 100%;
                    background-color: $secondary-color;
                    color: $primary-color;

                    .style-wrapper {
                        padding-left: 50px;
                        padding-right: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-top: $largest-sizing;

                        span {
                            h4 {
                                margin-top: 0;
                            }

                            .person-room {

                                p:nth-of-type(2),
                                p:nth-of-type(3) {
                                    margin-top: 0;
                                }

                                p {
                                    font-family: 'Mulish';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: $normal-sizing;
                                    line-height: 160.6%;
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 0;
                                }

                            }

                            p {
                                font-family: 'Mulish';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 160.6%;
                                display: flex;
                                align-items: center;
                                margin-bottom: 40px;

                            }

                            .book-now {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: $smallest-sizing;

                                span {

                                    .slashed {
                                        text-decoration: line-through;
                                        margin-bottom: 0;
                                    }

                                    h3 {
                                        margin-top: 0;
                                    }
                                }

                                button {

                                    background-color: $tertiary-color;
                                    color: $primary-color;
                                    width: 50%;
                                    height: 40px;
                                    border: none;
                                }
                            }
                        }
                    }

                }
            }


            .wrapp3 {
                display: flex;
                width: 30%;
                flex-direction: column;
                background-color: $secondary-color;
                color: $primary-color;
                border-radius: 8px 8px 8px 8px;
                height: 100%;

                .wrapp3-image {
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                    }

                    span {
                        background-color: $tertiary-color;
                        color: $primary-color;
                        width: 95px;
                        height: 40px;
                        border: none;
                        border-radius: 4px;
                        left: 0;
                        top: 20px;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                    }
                }

                .advisor-style3 {

                    width: 100%;
                    height: 100%;
                    background-color: $secondary-color;
                    color: $secondary-color;

                    .style-wrapper {
                        padding-left: 30px;
                        padding-right: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-top: 48px;
                        color: $primary-color;


                        span {
                            h4 {
                                margin-top: 0;
                            }

                            .person-room {

                                p:nth-of-type(2),
                                p:nth-of-type(3) {
                                    margin-top: 0;
                                }

                                p {
                                    font-family: 'Mulish';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: $normal-sizing;
                                    line-height: 160.6%;
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 0;
                                }

                            }

                            p {
                                font-family: 'Mulish';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 160.6%;
                                display: flex;
                                align-items: center;
                                margin-bottom: 40px;

                            }


                            .book-now {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: $smallest-sizing;

                                span {

                                    .slashed {
                                        text-decoration: line-through;
                                        margin-bottom: 0;
                                    }

                                    h3 {
                                        margin-top: 0;
                                    }
                                }

                                button {

                                    background-color: $tertiary-color;
                                    color: $primary-color;
                                    width: 50%;
                                    height: 40px;
                                    border: none;
                                }
                            }
                        }
                    }

                }
            }

            .wrapp4 {
                display: flex;
                width: 33%;
                flex-direction: column;
                background-color: $secondary-color;
                border-radius: 8px 8px 8px 8px;
                height: 100%;

                .wrapp4-image {
                    height: 237px;
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                    }

                    span {
                        background-color: $tertiary-color;
                        color: $primary-color;
                        width: 95px;
                        height: 40px;
                        border: none;
                        border-radius: 4px;
                        left: 0;
                        top: 20px;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                    }
                }


                .advisor-style4 {

                    width: 100%;
                    height: 100%;
                    background-color: $secondary-color;
                    color: $primary-color;

                    .style-wrapper {
                        padding-left: 30px;
                        padding-right: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-top: 47px;


                        span {
                            h4 {
                                margin-top: 0;
                            }

                            .person-room {

                                p:nth-of-type(2),
                                p:nth-of-type(3) {
                                    margin-top: 0;
                                }

                                p {
                                    font-family: 'Mulish';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: $normal-sizing;
                                    line-height: 160.6%;
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 0;
                                }

                            }

                            p {
                                font-family: 'Mulish';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 160.6%;
                                display: flex;
                                align-items: center;
                                margin-bottom: 40px;

                            }


                            .book-now {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: $smallest-sizing;

                                span {

                                    .slashed {
                                        text-decoration: line-through;
                                        margin-bottom: 0;
                                    }

                                    h3 {
                                        margin-top: 0;
                                    }
                                }





                                button {

                                    background-color: $tertiary-color;
                                    color: $primary-color;
                                    width: 50%;
                                    height: 40px;
                                    border: none;
                                }
                            }
                        }
                    }


                }
            }



            .wrapp5 {
                display: flex;
                width: 33%;
                flex-direction: column;
                background-color: $tertiary-color;
                border-radius: 8px 8px 8px 8px;
                height: 100%;



                .wrapp5-image {
                    height: 237px;
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                    }

                    span {
                        background-color: $tertiary-color;
                        color: $primary-color;
                        width: 95px;
                        height: 40px;
                        border: none;
                        border-radius: 4px;
                        left: 0;
                        top: 20px;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                    }
                }


                .advisor-style5 {

                    width: 100%;
                    height: 100%;
                    background-color: $secondary-color;
                    color: $primary-color;

                    .style-wrapper {
                        padding-left: 30px;
                        padding-right: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-top: 46px;


                        span {
                            h4 {
                                margin-top: 0;
                            }

                            .person-room {

                                p:nth-of-type(2),
                                p:nth-of-type(3) {
                                    margin-top: 0;
                                }

                                p {
                                    font-family: 'Mulish';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: $normal-sizing;
                                    line-height: 160.6%;
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 0;




                                }

                            }

                            p {
                                font-family: 'Mulish';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 160.6%;
                                display: flex;
                                align-items: center;
                                margin-bottom: 40px;

                            }


                            .book-now {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: $smallest-sizing;

                                span {

                                    .slashed {
                                        text-decoration: line-through;
                                        margin-bottom: 0;
                                    }

                                    h3 {
                                        margin-top: 0;
                                    }
                                }

                                button {

                                    background-color: $tertiary-color;
                                    color: $primary-color;
                                    width: 50%;
                                    height: 40px;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Testimonials Section
.guest-review-section {
    width: 100%;
    height: 100%;

    .guest-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 30px;

        span {
            h2 {
                display: flex;
                justify-content: center;
                width: 100%;
                text-transform: uppercase;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 45px;
                text-align: center;
            }
        }

        .guest-card-style {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;

            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {

                    width: 100%;
                }
            }

            .holder {
                background-color: $primary-color;
                width: 73%;
                height: 280px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-bottom: 20px;
                position: relative;

                .wrapp-review {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 70px;

                    p {
                        font-family: 'Mulish';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 160%;
                        /* or 19px */

                        text-align: justify;
                    }


                    .ellipse-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        top: -50px;

                        p {
                            margin-top: 0;
                        }
                    }

                    .guest-review-section {
                        width: 100%;
                        height: 100%;

                    .guest-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        gap: 30px;

                        span {
                            h2 {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                text-transform: uppercase;
                                font-family: 'Mulish';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 36px;
                                line-height: 45px;
                                text-align: center;
                            }
                        }

                        .guest-card-style {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding-left: 20px;
                            padding-right: 20px;

                            span {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                img {
                                    width: 100%;
                                }
                            }

                            .holder {
                                background-color: $primary-color!important;
                                width: 73%;
                                height: 280px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                padding-bottom: 20px;
                                position: relative;

                                .wrapp-review {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    padding: 70px;

                                    p {
                                        font-family: 'Mulish';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 160%;
                                        /* or 19px */

                                        text-align: justify;
                                    }


                                    .ellipse-container {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        position: relative;
                                        top: -20px;

                                        p {
                                            margin-top: 0;
                                        }
                                    }

                                    .review-paragraph {
                                        width: 80%;
                                        position: relative;

                                        
                                        img:nth-of-type(1) {
                                            position: absolute;
                                        }

                                            position: absolute;
                                            top: -120px;
                                        

                                        p {
                                            margin-top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}

.newsletter-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url("assets/img/newsletter.png"), linear-gradient(rgba(10, 34, 61, 0.8),rgba(10, 34, 61, 0.8));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 94px 0 87px;
    box-sizing: border-box;

}

.news-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

    .text {
        width: 30%;
        color: $primary-color;

        span {
            h2 {
                margin: 0;
                font-style: normal;
                font-weight: 300;
                line-height: 30px;
            }
        }
    }
}
.search {
    display: flex;

    .search-input {
        width: 350px;
        height: 40px;
        padding-left: 20px;
        color: $header-color;
        background-color: $main-bg-color;
        border-radius: 6px;
        border: none;
    }
    
    .search-button {
        border: none;
        cursor: pointer;
        width: 65px;
        height: 40px;
        padding: 0px;
        background-color: $tertiary-color;
        color: $primary-color;
    }
}

//Other Activities

.other-activities {
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
    padding-top: 20px;
}

.activities-wrapper {
    .activities-wrapper {
        .activities-header {
            h3 {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }

    .activities-cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .card1 {
        width: 23%;
        height: 33vh;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("assets/img/act1.png");
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;

        span {
            padding-left: 30px;
            margin-top: 85px;

            h3 {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                line-height: $large-sizing;
                width: 145px;
            }
        }
    }

    .card2 {
        width: 23%;
        height: 33vh;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("assets/img/act2.png");
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
       
        span {
            padding-left: 30px;
            margin-top: 85px;

            h3 {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                line-height: $large-sizing;
                width: 175px;
            }
        }
    }

    .card3 {
        width: 23%;
        height: 33vh;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("assets/img/act3.png");
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;

        span {
            padding-left: 30px;
            margin-top: 65px;

            h3 {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                line-height: $large-sizing;
                width: 170px;
            }
        }
    }

    .card4 {
        width: 23%;
        height: 33vh;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("assets/img/act4.png");
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;

        span {
            padding-left: 30px;
            margin-top: 85px;

            h3 {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                width: 210px;
            }
        }
    }

    h3 {
        font-size: calc($normal-sizing + 2px);
        font-weight: 700;
        line-height: calc($large-sizing + 2px);
        font-family: 'Mulish';
        color: $primary-color;
    }

    button {
        background-color: $tertiary-color;
        color: $primary-color;
        width: 100px;
        height: 30px;
        border-radius: 4px;
        border: none;
        align-items: flex-start;
    }
}

//Footer section
.footer-section {
    background-color: $secondary-color;
    width: 100%;
    height: 100%;

    .footer-holder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 50px;


        .best-tour-plan2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .all-categories {

            span {
                h4 {

                    color: $primary-color;
                }
            }

            span {
                p {
                    color: $footer-text-color;

                    a {
                        color: $footer-text-color;
                    }
                }
            }

            .social-icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
        }
    }

    .contact-section {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .details {
            width: 50%;

            span {
                color: $primary-color;

                h4 {
                    color: $primary-color;

                    p {
                        a {
                            color: $footer-text-color;
                        }
                    }
                }
            }
        }

        span {
            p {
                color: $footer-text-color;
                display: flex;
                align-items: center;

                img {

                    a {
                        color: $footer-text-color;
                    }
                }
            }
        }
    }

    .contact-form-section {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;

        span {
            h4 {
                color: $primary-color;
            }
        }

        .contact-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: $normal-sizing;

            .first-form {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .name-input {
                    width: 255px;
                    height: 50px;
                    background-color: $primary-color;
                    border-radius: 4px;
                    padding-left: 20px;
                }

                .number-input {
                    @extend .name-input;

                }


            }

            .second-form {
                width: 100%;
                display: flex;

                .message-input {
                    width: 100%;
                    height: 123px;
                    padding-left: 20px;

                }
            }

            .submit-button {
                display: flex;
                width: 100%;
                justify-content: space-between;

                button {

                    background-color: $tertiary-color;
                    color: $primary-color;
                    width: 160px;
                    height: 50px;
                    border-radius: 4px;
                    border: none;
                }

                p {
                    color: $primary-color;
                }

            }


        }


    }

    .last-section {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: $largest-sizing;
        padding-bottom: 20px;

        span {
            display: flex;
            justify-content: space-between;
            gap: $smallest-sizing;
            width: 40%;

            p {
                color: $primary-color;
            }
        }

        span {
            display: flex;
            justify-content: flex-end;
        }
    }
}